@import '../constants';

header {
    width: 100%;
    height: 80px;
    z-index: 12;
}

.title {
    letter-spacing: -1px;
    font-weight: 600;
    font-size: 52px;
    width: auto;
    float: left;

    & a {
        color: #dcdcdd !important;
    }

    &::after {
        height: 2px;
        width: 20px;
        background: #ffce54;
        content: '';
        position: relative;
        display: block;

        left: 170px;
        top: -18px;
        animation: blink .6s linear 1s infinite alternate;
    }
}

.menu {
    margin: 0;
    top: 0;
    height: 80px;
    line-height: 80px;
    float: right;

    border-right: 1px solid #ffce54;
    border-top: 1px solid #ffce54;

    @media(max-width: $LARGE) {
        display: none;
    }

    & li {
        list-style: none;
        float: left;
        position: relative;
        margin: 0 48px 0 0;
        letter-spacing: 1px;
        font-size: 14px;
        height: 64px;
        font-weight: 200;

        & a {
            text-decoration: none;
            color: inherit;
            height: inherit;
            display: block;

            &.current {
                color: #ffce54;
            }
        }

        &:last-child {
            margin-right: 20px;
        }

        &:active,
        &:hover {
            border-bottom: 2px solid #ffce54;
            cursor: pointer;
        }
    }
}

@keyframes blink {
    0%, 30% {
        opacity: 1;
    }

    50%, 100% {
        opacity: 0;
    }
}
