@import '../constants';

footer {
    border-top: 1px solid rgba(255, 206, 84, 0.7);
    color: rgba(255, 255, 255, 0.7);
    height: 64px;
    padding-top: 16px;
    font-weight: 200;

    @media screen and (max-width: $MEDIUM) {
        font-size: 12px;
    }

    & .zeit {
        height: 12px;
        margin-left: 4px;
        opacity: 0.7;
    }

    & .copyright {
        float: right;
    }
}
